[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Packages/com.unity.package-manager-ui/
sysinfo.txt
*.booproj
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.wav
*.gif
*.ico
*.jpg
*.jpeg
*.png
*.psd
*.tga
*.tif
*.tiff
*.3ds
*.3d
*.fbx
*.blend
*.mp3
*.mp4
*.mov
*.avi
*.mpg
*.mpeg
*.ogg
*.obj
*.rar
*.zip
*.7z
